<div class="letter">Dear All,
<br><br>
Pokémon (ポケモン) is a media franchise published and owned by the video game company Nintendo and created by Satoshi Tajiri in 1996. Pokémon has since become the one of the most successful video game-based media franchises in the world. Pokémon have since been merchandised into anime, manga, trading cards, toys, books, and other media.
After all, who doesn't know what a Pikachu is?
<br><br>
Spanning nearly two decades it has become a international sensation and undeniably left its mark in pop culture. This club seeks to "APPRECIATE" Pokémon and all it has offered to us as children and even now. Not only has it taught us valuable life lessons, advanced math, even some cooking skills, but it has undoubtedly taught us how to become better people.
<br><br>
Sincerely,
<br>
Joey Pan
<br>
(o^-^o)</div>
<br>
<div>
  <h2>Information</h2>
  <br>
  <div class="info">
  Founded on September 25, 2011
  by Matthew Chu ('14)
  </div>
  <div class="info">
  <h3>Leaders 2016-2017</h3>
  President: Tabitha Chang ('17)<br>
  Vice President: Paul Cho ('18)<br>
  Secretary: Sk Ayon ('18)
  </div>
  <div class="info">
  <h3>Leaders 2015-2016</h3>
  President: Alex Ngo ('16)<br>
  Vice President: Willem Joseph ('16)<br>
  Secretary: Tabitha Chang ('17)
  </div>
  <div class="info">
  <h3>Leaders 2014-2015</h3>
  President: Alex Ngo ('16)<br>
  Vice President: Chris Moy ('15)<br>
  Secretary: Tabitha Chang ('17)
  </div>
  <div class="info">
  <h3>Leaders 2013-2014</h3>
  President: Joey Pan ('14)<br>
  Vice President: Matthew Chu ('14)<br>
  Secretary: Kimarie Yap ('14)
  </div>
  <div class="info">
    <h3>Some other stuff idk</h3>
  Previous Champions: Steven Tso ('14), Edward Liu ('17), Andrii Del Rosario ('18)<br>
  Current Champion: Willem Joseph ('16)<br>
  Current Elite 4 (In no particular order):<br>
  Andrii Del Rosario ('18)<br>
  Sk Ayon ('18)<br>
  Brandon Lam ('19)<br>
  (Some guy we dont remember)
  </div>
  <div class="info">
  Teachers (Club Advisors): Mr. Beau Scheiber<br>
  Meeting Days: Thursday; Room 231
  </div>
</div>
