<h1>About</h1>
<div class="letter">Dear All,
<br><br>
Pokémon (ポケモン) is a media franchise published and owned by the video game company Nintendo and created by Satoshi Tajiri in 1996. Pokémon has since become the one of the most successful video game-based media franchises in the world. Pokémon have since been merchandised into anime, manga, trading cards, toys, books, and other media.
After all, who doesn't know what a Pikachu is?
<br><br>
Spanning nearly two decades it has become a international sensation and undeniably left its mark in pop culture. This club seeks to "APPRECIATE" Pokémon and all it has offered to us as children and even now. Not only has it taught us valuable life lessons, advanced math, even some cooking skills, but it has undoubtedly taught us how to become better people.
<br><br>
Sincerely,
<br>
Joey Pan
<br>
(o^-^o)</div>
