<h2>Got any suggestions?</h2>

  <form method="POST" action="/feedback">
    Name:<br>
    <input type="text" name="name">
    <br>
    E-mail:<br>
    <input type="text" name="email">
    <br>
    Suggestions:<br>
    <textarea name="feedback" cols="40" rows="5"></textarea>
    <br><br>
    <input type="submit" value="Submit">
  </form>
