<!DOCTYPE html>
<html>

<ul class="toplist">
  <li><a href="/">Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/news">News</a></li>
  <li><a href="/people">People</a></li>
  <li><a href="/links">Links</a></li>
  <li><a href="/feedback">Feedback</a></li>
</ul>

  <head>
    <title>{{title}}</title>
      <h1>{{title}}</h1>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
