<h2>Useful links</h2>
<ul class="linklist">
  <li><a href="http://goo.gl/forms/rnjf3ZRVzf" target="_blank">Suggestions Form</a></li>
  <li><a href="https://docs.google.com/spreadsheets/d/16ugm_IG_KbyuLRyPgFwb-9Y5CN93MVId07Zi8hsswkg/edit#gid=0" target="_blank">Current Score Sheet</a></li>
</ul>

<h2>Social media</h2>
<ul class="linklist">
<li><a href="https://www.facebook.com/groups/BxSciPAC/" target="_blank">Facebook group</a></li>
  <li><a href="http://bxscipac.herokuapp.com" target="_blank">Website</a></li>
  <li><a href="https://twitter.com/bxscipac" target="_blank">Twitter</a></li>
  <li><a href="https://www.youtube.com/channel/UCEllcizY8aGIZwq5tIWX3kQ" target="_blank">YouTube channel</a></li>
</ul>
