<div>
<ul class="linklist">
  <li><a href="http://bxscipac.herokuapp.com" target="_blank">Website</a></li>
  <li><a href="http://goo.gl/forms/rnjf3ZRVzf" target="_blank">Suggestions Form</a></li>
  <li><a href="https://docs.google.com/spreadsheets/d/16ugm_IG_KbyuLRyPgFwb-9Y5CN93MVId07Zi8hsswkg/edit#gid=0" target="_blank">Current Score Sheet</a></li>
</ul>

</div>
