<h2>Current members</h2>
<div class="biolist">
  <bio>
    <img src="images/people/tabs.jpg">
    <h2>Tabitha Chang</h2>
    <br>
    <p>Tabitha Chang, known as Ditto Girl to her elders, is the Plushie Bringing,
      Cloak Wearing, President of the Bronx Science Pokémon Appreciation Club.
      Don't be afraid to speak to her and she's always ready to answer questions!
      She'll be graduating with the Class of 2017 and will miss you all greatly.</p>
  </bio>
  <bio>
    <img src="images/people/pual.jpg">
    <h2>Paul Cho</h2>
    <br>
    <p>info</p>
  </bio>
  <bio>
    <img src="images/people/sk.jpg">
    <h2>Sk Ayon</h2>
    <br>
    <p>info</p>
  </bio>
  <bio>
    <img src="images/people/scheiber.jpg">
    <h2>Mr. Scheiber</h2>
    <br>
    <p>info</p>
  </bio>
</div>

<h2>Alumni</h2>
<div class="biolist">
  <bio>
    <img src="images/people/joey.jpg">
    <h2>Joey Pan</h2>
    <br>
    <p>info</p>
  </bio>
  <bio>
    <img src="images/people/matt.jpg">
    <h2>Matthew Chu</h2>
    <br>
    <p>info</p>
  </bio>
  <bio>
    <img src="images/people/kimarie.jpg">
    <h2>Kimarie Yap</h2>
    <br>
    <p>info</p>
  </bio>
  <bio>
    <img src="images/people/alex.jpg">
    <h2>Alex Ngo</h2>
    <br>
    <p>info</p>
  </bio>
  <bio>
    <img src="images/people/chris.jpg">
    <h2>Christopher Moy</h2>
    <br>
    <p>info</p>
  </bio>
  <bio>
    <img src="images/people/willem.jpg">
    <h2>Willem Joseph</h2>
    <br>
    <p>info</p>
  </bio>
  <bio>
    <img src="images/people/lam.jpg">
    <h2>Mr. Lam</h2>
    <br>
    <p>info</p>
  </bio>
</div>
